/* Body */
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #fff;
}

/* Nav Section */
nav{
    background-color: white;
    height: 100px;
    padding-left: 5vw;
    padding-right: 5vw;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1440px;
}
.logo-side-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img{
    max-width: 86px;
    max-height: 40px;
    margin-right: 20px;
}
.logo-text{
    font-size: 45px;
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}
.logo-text span{
    color: #FF3B94;
    font-size: 45px;
}
.menu-side{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-us,.devlopers{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500px;
    font-family: 'Work Sans', sans-serif;
    color: #3C354F;
}
.follow-btn{
    width: 250px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    margin-left: 20px;
    justify-content: space-around;
    align-items: center;
    padding-right: 20px;
}
.follow-us-on{
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.social-icon{
    color: #F61C0D;
}

/* Header */
header{
    padding-left: 5vw;
    padding-right: 5vw;
    height: 100vh;

}
.header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1440px;

}

.header-text-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  
}

.play-like-the{
    font-size: 35px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    color: #0B0223;
    margin: 0;
}
.goat{
    background: linear-gradient(to right, #F948B2, #8758F1);
    font-size: 60px;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
    -webkit-background-clip: text;
}
.optio-div{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;

}
.option-icon{
    width: 24px;
    height: 24px;
}
.option-text{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: #363434;
    margin-left: 10px;
}
.button-father{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.sign-in{
    padding: 15px 30px;
    background-color: #FF3B94;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    color: white;
    margin-right: 10px;
    border-radius: 30px;
}
.go-rogue{
    padding: 15px 30px;
    background-color: #4EC5F7;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    color: white;
    margin-left: 10px;
    border-radius: 30px;
}
.gerdien-img{
    height: 680px;
}
/* We are Gamer Section */
.gamer{
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 100px;
}
.gamer-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1440px;

}
.gamer-img-side{
    flex: 1;
    margin-top: 100px;
    margin-bottom: 100px;
}
.gamer-text-side{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.gamer-title{
    background: linear-gradient(to right, #F948B2, #8758F1);
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    -webkit-background-clip: text;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    -webkit-text-fill-color: transparent;
    margin-top: 12px;
    margin-bottom: 12px;
}
.gamer-description{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-top: 12px;
    margin-bottom: 12px;
}
.gamer-btn{
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    margin-top: 12px;
    margin-bottom: 12px;
}
.gamer-context{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px; /* 187.5% */
    margin-top: 12px;
    margin-bottom: 12px;   
}
.gamer-context-info{
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: right;

}
/* Online Game Section */
.online-game{
    padding-left: 5vw;
    padding-right: 5vw;
}
.game-online-main{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1440px;

}
.title-online-game{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.title-online-game span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.title-online-game-info{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.online-main-game{
 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.game-online{
    margin: 10px;
    max-width: 340px;
}
.game-info{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    text-align: center;
}

  
  


/* Play Instantly */

.play-instantly{
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1440px;
}  
.play-text-side{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.play-img-side{
    flex: 1;
    background-repeat: no-repeat;
    background-position: center;
    height: fit-content;
}
.img-play-instant-small{
    width: 318.5px;
    height: 365.083px;
    flex-shrink: 0;
    margin-top: 455px;
    margin-right: 470px;
}
.play-instantly-title{
    text-align: right;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
}
.play-instantly-title span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-instantly-info{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-left: 5vw;
}

/* Careers Section */
#Careers-head{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.Careers{
    display: flex;
    justify-content: space-between;
}
.baby-careers{
}
.Careers-image-side{
    fill: rgba(255, 255, 255, 0.10);
    width: 65%;
}
.Careers-text-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 5vw;
    padding-right: 5vw;
    justify-content: center;
}

.careers-title{
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
 }
.careers-description{
    color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-top: 20px;
}
.carees-section-div{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.question-side{
    color: #FFF;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 200% */
}
.answer-side{
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 200% */
} 
.btn-see-all-positions{
    color: #F948B2;
    background-color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border-radius: 48px;

}
/*. Mobile Screen */
 @media screen and (max-width:426px) {

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0 auto;
        margin-right: 0 auto;
        width: 100%;
    }

    nav{
        height: auto;
        width: 426px;
        padding: 20px;

    }

    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .logo-side-div{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;

    }
    .logo-img{
        max-width: 86px;
        max-height: 40px;
        margin-right: 20px;
    }
    .logo-text{
        font-size: 45px;
        color: black;
        font-family: 'Work Sans', sans-serif;
        font-weight: 700;
    }
    .logo-text span{
        color: #FF3B94;
        font-size: 45px;
    }
    .menu-side{
        display: flex;
        flex-direction: column;
    }
    .about-us,.devlopers, .follow-us-on{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 18px;
        font-weight: 500px;
        font-family: 'Work Sans', sans-serif;
        color: #3C354F;
    }
    .follow-btn{
        width: 250px;
        height: 56px;
        background-color: #0B0223;
        border-radius: 10px;
        display: flex;
        margin-left: 20px;
        justify-content: space-around;
        align-items: center;
        padding-right: 20px;
    }
    .follow-us-on{
        color: #fff;
        opacity: 100%;
    }
    .social-icon{
        color: #F61C0D;
    }

    /* header */
    header{
        height: auto;
    }
    .header{
        display: flex;
        flex-direction: column-reverse;
    }
    .gerdien-img{
        width: 100%;
        height: 90%;
    }
    .header-image-side{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .header-text-side{
        padding-top: 30px;
        margin: 0 auto;
        width: auto;
    }
    .play-like-the{
        font-size: 20px;
    }
    .goat{
        font-size: 22px;
    }
    .option-text{
        font-size: 16px;
    }
    .sign-in{
        padding: 10px 20px;
        background-color: #FF3B94;
        font-size: 15px;
        font-weight: 600;
        font-family: 'Work Sans', sans-serif;
        color: white;
        border-radius: 20px;

    }
    .button-father{
        margin-left: 0 auto;
        margin-right: 0 auto;
        width: 100%;
    }
    .go-rogue{
        padding: 10px 20px;
        background-color: #4EC5F7;
        font-size: 15px;
        font-weight: 600;
        font-family: 'Work Sans', sans-serif;
        color: white;
        border-radius: 20px;
    }
    /* Gamer Section */
    .gamer-section{
        flex-direction: column;
    }
    .gamer-batch-img{
        width: 95%;
    }
    .gamer-text-side{
        align-items: center;
    }
    .gamer-description{
        text-align: center;
    }
    .gamer-context{
        margin: 0;
        padding: 0;
    }
    .gamer-context-info{
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 25px;
    }
    /* Online Game Section */
    .online-game{
        margin-top: 50px;
    }
    .title-online-game, .title-online-game span{
        font-size: 25px;
    }
    .online-main-game{
        margin-left: 10px;
        margin-right: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .game-info{
        text-align: center;
    }
    /* Play Instantly */
    .play-instantly{
        flex-direction: column;
        justify-content: center;
    }
    .play-instantly-title,.play-instantly-info{
        text-align: center;
        margin-top: 50px;
    }
    .play-instantly-info{
        margin-bottom: 50px;
    }
    .play-img-side{
        width: 300px;
        height: 350px;
        flex: none;
        margin: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .img-play-instant-small{
        width: 150px;
        height: 200px;
        flex-shrink: 0;
        padding-top: 245px;
        padding-left: 200px;
        margin: 0;
    }
    .image-extar-instant{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
    }
    /* Careers */
    .Careers{
        flex-direction: column;
    }
    #Careers-head{
        margin-top: 100px;
        padding-left: 30px;
    }
    .p{
        margin-left: 0 auto;
        margin-right: 0 auto;
        width: auto;
    }
    .Careers-image-side{
        fill: rgba(255, 255, 255, 0.10);
        width: 425px;
        padding: 25px;
        
    }
    .baby-careers{
        width: 425px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-see-all-positions{
        display: flex;
        text-align: center;
    }
   
 }